.contenedor{
	width: 900px;
	margin: 20px auto;
	padding: 20px;
	background: #3f51b5;

}
*{
	font-family: Arial;

}
input[type="button"]{
  background: #FF9800;
  color: #FFFFFF;
  border-style: none;
  font-size: 14px;
}

header{
	text-align: center;
}
h1{
	display: inline-block;
	text-align: center;
	font-size: 42px;
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;

}
.mainMenu{
	margin: 10px 5px;
	font-size: 20px;
	background: #303f9f;
	padding: 0px;
	list-style: none;    /* Saca los puntos*/
	box-sizing: border-box;  /* No se modifica el tamaño de la caja */
}
.mainMenu li{
	display: inline-block; /* los coloco uno al lado del otro*/
	
}
.mainMenu li h2{
	color: #ffffff;
	margin: 10px 5px;
	font-size: 20px;
}

.inline-block{
	display: inline-block;
	vertical-align: top;
	list-style: none;
}
.mainAside{
	width: 25%;
	padding: 10px;
	background: #c5cae9;
}
#ih3{
	font-size: 20px;
	border-bottom: 1px solid #212121;
	font-weight: normal;
	text-align: left;

}

aside ul{
	padding: 0px;
	list-style: none;
}
li h4{
	font-size: 18px;
	margin: 5px 10px;
	font-weight: normal;
}
.mainSection{
	width: 69%;
	border: 0px;
}
.publi header{
	text-align: left;
}
.publi header h3{
	display: inline-block;
}
.publi{
	border: 1px solid black;
	margin: 0px 20px 20px 20px;
	padding: 15px;
	background: #c5cae9;
}
img{
	width: 20px;
	display: inline-block;
}
.publiSection{
	font-size: 16px;
	padding: 15px;
	color: #212121;
	background: #FFFFFF;
}
.titleIcon{
	float: right;
	margin: 0.5em 0.5em 0 0;
	font-size: 25px;
	color: #FFFFFF;
	background: #FF9800;
}
.hastag, .likes{
	position: absolute;
	left: 0;
}
.hastags{
  margin-left: 15px;
}
.mainImgPubli{
	display: block;
	height: 2em ;
	position: relative;
	margin-top: 1em;
}
.mainImgPubli .favBlock{
	position: absolute;
	right: 1em;
	width: 60px;
	text-align: right;
}
.mainImgPubli .tagBlock{
	position: absolute;
	left: 1em;
	width: 50%;
	text-align: left;

}
.tags {
	margin-left: 2em;
}

.mifuente{
	font-family: propia;
}

@font-face{
	src: url(Fuentes/Gabardina-regular.ttf);
    font-family: propia;
}
.Mensaje1{
	padding: 15px;
}
#Mensaje2{
	width: 80%;
	display: inline-block;
}
.tagBlock1{
	position: absolute;
	left: 1em;
	width: 99%;
	text-align: left;
}
.itendencia{
	display: inline-block;
	
	width: 30%;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 15px;
	background: #c5cae9;

}
.ifooter{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: #FFFFFF;

}
.icolorCab{
    background: #757575;
    color: #FFFFFF;
    padding-top: 10px;
	padding-bottom: 10px;
}
.iOpciones{
	display: block;
	margin: 10px auto;
}
.iOpciones .in{
 width: 120px;
}
 .arth3{
 	width: 96%;
font-size: 20px;
color: #ffffff;
padding: 0px 10px;
background: #757575;
margin: 5px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;

 }
.aliniadoDerecha{
	margin-right: 175px;
}
 #btn1{
 	font-size: 20px;
 	color: #ffffff;
 	border: none;
 	background: #ff9800;
 }
#mensajeNuevo{
  margin: auto;
  display: block;
  width: 95%;
  min-width: 95%; 
  height: 7em;
  max-height: 7em;
  max-width: 95%;
  padding: 15px;
  font-size: 16px;
  background: #FFFFFF;
  color: #212121;
}
#enviar{
	background: #FF9800;
  color: #FFFFFF;
  border-style: none;
  font-size: 14px;
}